{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {kura, {git, "https://github.com/Taure/kura.git", {branch, "main"}}}
]}.

{project_plugins, [
    erlfmt
]}.

{erlfmt, [write]}.

{ct_opts, [
    {ct_hooks, []},
    {dir, "test"},
    {extra_src_dirs, ["test/test_helpers"]}
]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {extra_src_dirs, ["test/test_helpers"]},
        {deps, []}
    ]}
]}.
